[Unit]
Description=Evolution API Service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=/etc/conf.d/evolution-api/evolution-api.conf
ExecStart=/bin/bash -c "/usr/bin/docker compose -f ${EVO_API_DOCKER_COMPOSE_PATH} up -d --remove-orphans"
ExecStop=/bin/bash -c "/usr/bin/docker compose -f ${EVO_API_DOCKER_COMPOSE_PATH} down"

[Install]
WantedBy=multi-user.target
