[Unit]
Description=Evolution API Service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=/etc/conf.d/evolution-api/evolution-api.conf
ExecStart=/bin/bash 'docker compose up -f ${EVO_API_DOCKER_COMPOSE_PATH} -d --remove-orphans'
ExecStop=/bin/bash 'docker compose down -f ${EVO_API_DOCKER_COMPOSE_PATH}'

[Install]
WantedBy=multi-user.target

